body {
   background-color:rgb(179, 236, 207); 
}

#Score {
    font-size: 25px;
    margin-left: 10%;
}

#Timer {
    font-size: 25px;
    float: right;
    margin-right: 15%;
}

#Sketch_To_Be_Drawn {
    color:rgb(76, 171, 155);
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }